<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Iceland&family=Pixelify+Sans:wght@400..700&family=Playwrite+CU:wght@100..400&family=Rubik+Dirt&family=Rubik+Glitch&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
</head>
<body>
     <video class="video-fondo" src="../images/228204_small.WebM" autoplay muted loop></video>
 <header>
    <h1 class="title">Bienvenido</h1>
 </header>
 <main>
    <section class="sobre-mi">
        <div>
        <h2>Sobre mi</h2>
        <img src="" alt="">
        </div>
        <p>Mi nombre es Jonathan, Principalmente me dedico al sector de la metalurgia. <br>
            Aunque desde siempre he tenido un profundo interes por el area tecnologica, he sido autodidacta <br> hasta que las circunstancias han sido favorables y pude matricularme en un bootcamp <br>
            de desarrolo web.
            Mi pasion por este mundo me llevan a profundizar lo maximo posible sobre la materia.
        </p>
    </section>
    <section class="laboral">
        <div>
        <h2 class="title-laboral"> Experiencia laboral</h2>
        </div>
        <ul>
            <li>
                <article>
                    <img class="img-li" src="../images/descarga (2).jpg" alt="">
                    <h3 class="title-li">Soldador de <br> estructuras metalicas</h3>
                    <p class="paragraph-li"> 2 Años</p>
                </article>
            </li>
            <li>
                <article>
                    <img class="img-li" src="../images/descarga (3).jpg" alt="">
                    <h3 class="title-li">Carpintero metalico <br> y aluminio</h3>
                    <p class="paragraph-li"> 3 Años</p>
                </article>
            </li>
            <li>
                <article>
                    <img class="img-li" src="../images/descarga.jpg" alt="">
                  <h3 class="title-li">Montador de grupos <br> electrogenos</h3>
                    <p class="paragraph-li"> 4 Años</p>
                </article>
            </li>
            <li>
                <article>
                    <img class="img-li" src="../images/images (3).jpg" alt="">
                    <h3 class="title-li">Soldador de automoviles <br> pesados</h3>
                    <p class="paragraph-li"> 2 Años</p>
                </article>
            </li>
        </ul>
    </section>
    <section class="title-area">
        <h2>Area Tecnologica</h2>
    </section>
    <section class="skills">     
        <div class="carpeta">
            <label for="toggle-skills">
            <img src="../images/carpeta.svg" alt="">
        </label>
        </div> 
        <input type="checkbox" id="toggle-skills" hidden/>
        <div class="skills-superadas"> 
             <img class="icons-skills" src="../images/skills1.svg" alt="">
        </div>
        <div class="carpeta-proyect">
            <label for="toggle-proyect">
            <img class="img-proyect" src="../images/Proyect1.svg" alt="">
        </label>
        </div> 
        <input type="checkbox" id="toggle-proyect" hidden/>
        <div class="icons-proyect"> 
             <img class="skills-proyect" src="../images/skill-proyect.svg" alt="">
        </div>
    </section>   
 </main> 
 <footer>
    <div class="redes">
        <div class="title-redes"><h2>puedes seguirme en mis redes </h2></div>
        <div class="social-networks"></div>
        <ul class="social">
            <li>
                <a href=""><img src="../images//linkedin.svg" alt=""></a>
            </li>
            <li>
                <a href=""><img src="../images/twitter-logo.svg" alt=""></a>
            </li>
            <li>
                <a href=""><img src="../images//github-logo.svg" alt=""></a>
            </li>
            <li>
                <a href=""><img src="../images//facebook-logo.svg" alt=""></a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>
